.city-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  width: 100%;
  min-height: 75vh;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  max-height: 75vh;
  overflow-y: auto;

  .scrollable-section {
    overflow: none;
  }
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}

.city-search-container {
  align-items: center;
  position: absolute;
  width: 60%;
  background: #fff0;
  /* Ajoutez la couleur de fond souhaitée */
  margin: 0 auto;
  display: flex;
  margin-top: -4rem;
}

.space-between-search {
  margin-bottom: 20px;
  /* Ajustez la valeur de la marge selon vos besoins */
}

.city-search-input {
  padding: 0 1.5rem;
  font-size: 1rem;
  border-radius: 2rem;
  border: 0 none;
  color: #0c131f;
  pointer-events: auto;
  width: 100%;
  min-height: 2.5rem;
}

.vsc-universal-search__submit {
  pointer-events: auto;
  position: absolute;
  top: 0;
  right: 0;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: #8de8fe;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.98214 2.55966C4.10066 2.55966 2.55688 4.10511 2.55688 5.98864C2.55688 6.3267 2.84634 6.61648 3.18404 6.61648C3.52174 6.61648 3.8112 6.3267 3.8112 5.98864C3.8112 4.78125 4.77606 3.81534 5.98214 3.81534C6.31984 3.81534 6.6093 3.52557 6.6093 3.1875C6.6093 2.84943 6.31984 2.55966 5.98214 2.55966ZM16.7886 15.9375L12.0608 11.2045C13.0739 9.99716 13.6045 8.4517 13.6045 6.85795C13.6045 5.02273 12.8809 3.33239 11.6266 2.02841C10.3723 0.724432 8.63551 0 6.80227 0C4.96904 0 3.28053 0.724432 1.97797 1.98011C0.723646 3.28409 0 5.02273 0 6.80966C0 8.59659 0.723646 10.3352 1.97797 11.6392C3.28053 12.9432 4.96904 13.6193 6.80227 13.6193C8.39429 13.6193 9.93807 13.0881 11.1441 12.0739L15.872 16.8068C16.0167 16.9517 16.1614 17 16.3062 17C16.4509 17 16.6439 16.9517 16.7403 16.8068C17.078 16.5653 17.078 16.179 16.7886 15.9375ZM10.7582 10.7699C8.58727 12.9432 5.06552 12.9432 2.89458 10.7699C1.83324 9.70739 1.25432 8.30682 1.25432 6.85795C1.25432 5.3608 1.83324 3.96023 2.89458 2.94602C3.95593 1.93182 5.35498 1.30398 6.80227 1.30398C8.29781 1.30398 9.69686 1.88352 10.71 2.94602C11.7713 4.00852 12.3502 5.40909 12.3502 6.85795C12.3502 8.30682 11.7713 9.70739 10.7582 10.7699Z' fill='%230C131F'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem;
  padding: 0;
  border: 0 none;
  text-indent: -62.5rem;
  line-height: 1px;
  transition: all .25s;
}

::-webkit-scrollbar {
  width: 10px;
  /* Largeur de la barre de défilement */
}

::-webkit-scrollbar-thumb {
  background-color: #002b76;
  /* Couleur de la poignée de la barre de défilement */
  border-radius: 10px;
  /* Arrondi de la poignée */
  margin-right: 3px;
  position: absolute;
}

::-webkit-scrollbar-track {
  background: transparent;
  /* Couleur de fond de la barre de défilement */
}

/* Personnalisation de la barre de défilement pour Firefox */
html {
  scrollbar-width: thin;
  /* Largeur de la barre de défilement */
  scrollbar-color: #0066cc transparent;
  /* Couleur de la poignée et du fond de la barre de défilement */
}

/* Personnalisation de la barre de défilement pour Edge */
html {
  -ms-overflow-style: none;
  /* Masquer la barre de défilement */
}

.search-icon {
  cursor: pointer;
  position: absolute;
  right: 18.9%;
  top: 50.1%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #00feff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  padding: 11px;
  transition: all ease-in-out 0.2s;
}

.search-icon img {
  width: 20px;
  /* Ajustez la taille de l'image selon vos préférences */
  height: 20px;
  /* Ajustez la taille de l'image selon vos préférences */
}